

.characters{
display:flex;
justify-content: space-evenly;
flex-wrap: wrap;
padding-top: 2em;
padding-bottom: 2em;
background-color: rgb(31, 31, 31);

}

.character{
  width: 10%;
  height: 10%;
  margin-top: 2em;
  
  
}

img{
  width: 300px;
  height: 300px;
  opacity: 0.5;
  
 
 
}
img:hover {
  opacity: 1.0;
}

.harry{
  display: flex;
  margin: 0 auto;
  text-decoration: none;
  color:rgb(223,169,44);
}
