

.characters{
display:flex;
justify-content: space-evenly;
flex-wrap: wrap;
background-image: url(https://i.imgur.com/FIYPsUU.jpg);
background-size: cover;
background-position: center;
padding-top: 2em;
padding-bottom: 2em;

}

.character{
  width: 10%;
  height: 10%;
  margin-top: 2em;
  
  
}

img{
  width: 300px;
  height: 300px;
  opacity: 0.5;
  
 
 
}
img:hover {
  opacity: 1.0;
}

Link{
  text-decoration: none;
}