.home{
  background-image: url("https://i.imgur.com/eVzOF6a.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: black;

}

.button{
  margin: 250px 200px;
 background-color: #000000;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  opacity: .2;
  transition: 0.3s;

}