.tricks{
display:flex;
justify-content: space-evenly;
flex-wrap: wrap;
background-color: rgb(31, 31, 31);
}

.treat{
  border: 2px solid black;
border-radius: 5%;
width: 22%;
margin-top: 2em;
background-image: url('https://media.giphy.com/media/3o72FdKYY1NDpP8WJy/giphy.gif');
color: whitesmoke;
opacity: 0.5;
color: rgb(223,169,44);
}

.treat:hover {
  opacity: 1.0;
}